@model WebSongs1.Models.viewsongperformancetotal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>viewsongperformancetotal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleAndArtist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleAndArtist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstPerformed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstPerformed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastPerformed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastPerformed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
