@model IEnumerable<WebSongs1.Models.viewsongperformancetotal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleAndArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstPerformed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastPerformed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleAndArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstPerformed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastPerformed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongID })
        </td>
    </tr>
}

</table>
