@model WebCoreSongs.Models.Performances

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Performances</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DidIlead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DidIlead)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
