@model IEnumerable<WebCoreSongs.Models.Viewsongssinglefield>

@{
    ViewData["Title"] = "Song-List";
}

<h1>Song-List</h1>

<table class="table">
    @*
        /* DIAG Add sort on header click! with code that looks like:
        for (var j = 0; j < table.rows[i].cells.length; j++)
        table.rows[i].cells[j].onclick = function () {
        tableText(this);
        */
    *@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InTablet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cover)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@string.Concat("/DBPage/SongAndPerfInfo?songID=", item.Id.ToString())>
                        @Html.DisplayFor(modelItem => item.FullTitle)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InTablet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cover)
                </td>
            </tr>
        }
    </tbody>
</table>
