@model WebCoreSongs.Models.DB.Viewsongperformance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viewsongperformance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Song)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleAndArtist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleAndArtist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DidIlead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DidIlead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceQtr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceQtr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PerformanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
