@model WebCoreSongs.Models.Viewsongssinglefield

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viewsongssinglefield</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongFull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongFull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleAndInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleAndInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleAndArtist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleAndArtist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongFullArtistFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongFullArtistFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullArtistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullArtistName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitlePrefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitlePrefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InTablet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InTablet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cover)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
